@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .button-pill{
    @apply flex justify-center w-full rounded-full py-2 px-4 p-4 bg-darkblue border border-white border-solid m-4 hover:button-hover
  }

  .button-hover{
    @apply bg-electric-green text-darkblue border-none

  }

  .input-field{
    @apply border-b border-white text-white bg-darkblue p-2
  }

  .flex-center{
    @apply flex justify-center items-center
  }


}